
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    /* background: url(/assets/img/texture.svg); */
    background-color: rgb(243, 250, 255);
    /* background-color: #161E35; */
}
.dephead_info , h2{
    font-weight:bold;
    margin:  2px;
}
h2{
    font-size: 1.5rem;
}
/* table a{
    
    text-decoration: none;
    /* color: rgb(255, 255, 255); 
} */
nav{
    backdrop-filter: blur(4px);
    background-color: #fffffff5;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
}
.navbar-brand{
    transform: scaleZ(150px);
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    text-decoration: none;
    color:black;
}
.teams{
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.30);
    background: rgb(255,98,1);
background: linear-gradient(91deg, rgba(255,98,1,1) 0%, rgba(248, 154, 66, 0.978) 100%);
    border-radius: 20px;
    padding: 5px;
    transform: translateY(20%);
    z-index: 999;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(1px);
    font-family: 'Montserrat';
}
.teams h1{
    font-size: 2em;
    position: relative;
}
.dephead_info{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
position: relative;
display: flex;
/* justify-content: center; */
line-height: 0;
align-items: center;
color: rgb(255, 255, 255);
flex-direction: column;
backdrop-filter: blur(5px);
width: 310px;
transform: translateY(-80%);
background: #00a2ffe7;
box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.30);
border-radius: 20px;
overflow:hidden;
}
h3{
  font-size: 1rem;
}
/* .head{
    display: flex;
    justify-content:flex-end;
    overflow:hidden;
    width: 100%;
} */
.head_divs{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.custom_table{
    transform: translateX(13%);
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #00a2ffec;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.30) inset;
}
.custom_table1{
    transform: translateX(13%);
    font-family: 'Montserrat', sans-serif;
    color: white;
    align-items: center;
    text-align: center;
    background-color: #00a2ffec;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.30) inset;
}
/* .hero-area{
    color: #00a2ffec;
} */
.navbar-brand {
    float: left;
    filter: saturate(100%);
    height: 60px;
}
nav{
    /* height: 8vh; */
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.dep_head{
    position: relative;
width: 272px;
height: 353px;
/* left: 584px;
top: 194px; */
/* border: 3px solid rgb(255, 153, 0); */
box-shadow: 4px 4px 25px 5px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}
/* images for divs */
.ecell_patron{
    background: url(team/sjsbedi.jpg);
    background-size:cover;
}
.ecell_chairman{
    background: url(team/1801199811.jpg);
    background-size:cover;
}
.ecell_coordinator {
    background: url(team/18122755708.jpg);
    background-size:cover;
}

.ecell_cohead{
    background: url(team/VaibhavGUpta.jpeg);
    background-size:contain;
}
.ecell_cohead2{
    background: url(team/NaincyGhiria.JPG);
    background-size:cover;
}
.ecell_cohead3{
    background: url(team/manikraj.jpg);
    background-size:cover;
}
.web_head{
    background: url(team/chandan\ soni.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: 45%;
}
.finance_head{
    background: url(team/ankit.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: 70%;
}
.prel_head{
    background: url(team/bhavyavohra.jpg);
    background-size:cover;
}
.prel_head2{
    background: url(team/akhleemkhan.jpg);
    background-size:cover;
}
.mark_head{
    background: url(team/kanaksingh.jpg);
    background-size:cover;
}
.operation_head{
    background: url(team/arshdeepsingh.jpg);
    background-size:cover;
}
.media_head{
    background: url(team/akritimenon.jpg);
    background-size:cover;
    background-position-y: 70% ;
    background-position-x: 50%;

}

@media only screen and (max-width:800px){
 /* .dephead_info{
     background-color: r    gb(250, 0, 0);
 } */
 .head{
     display: flex;
     flex-direction:column ;
 }
 .custom_table{
     transform: translateX(2%);
 }
 .navbar-brand{
    transform: translateY(-10%);
 }
 }

 hr {
    border: dotted #929292 6px;
    border-bottom: none;
    width: 70%;
    margin: 70px auto;
  }